## Data Description

You are provided with 25,010 poker hands in train.csv and 1,000,000 in test.csv. Each hand consists of five cards with a given suit and rank, drawn from a standard deck of 52. Suits and ranks are represented as ordinal categories:

```
S1 “Suit of card #1”
Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}
C1 “Rank of card #1”
Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)

...

S5 “Suit of card #5”
C5 “Rank of card #5”
```

Each row in the training set has the accompanying class label for the poker hand it comprises. The hands are omitted from the test set and must be predicted by participants. Hands are classified into the following ordinal categories:


```
0: Nothing in hand; not a recognized poker hand 
1: One pair; one pair of equal ranks within five cards
2: Two pairs; two pairs of equal ranks within five cards
3: Three of a kind; three equal ranks within five cards
4: Straight; five cards, sequentially ranked with no gaps
5: Flush; five cards with the same suit
6: Full house; pair + different rank three of a kind
7: Four of a kind; four equal ranks within five cards
8: Straight flush; straight + flush
9: Royal flush; {Ace, King, Queen, Jack, Ten} + flush
```
Note that the Straight flush and Royal flush hands are not representative of
the true domain because they have been over-sampled. The straight flush
is 14.43 times more likely to occur in the training set, while the royal flush is 129.82 times more likely.

In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from functools import reduce

## Train data

In [2]:
suits = ['S1','S2','S3','S4','S5']
cards = ['C1','C2','C3','C4','C5']

In [3]:
train_dataset = pd.read_csv('train.csv', delimiter=',')

In [4]:
train_dataset.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   4   9   2   1   2   2   4   7   2   8     0
1   1   4   3   6   1  12   3  11   2   7     0
2   1  11   4   1   3   7   4  11   2   1     2
3   2   9   2   4   3   6   1   9   4   9     3
4   1   8   2   4   2  11   2   2   2   1     0

#### Binarization

In [14]:
def binarize(data, column, non_zero_class):
    data = data.copy()
    data[column] = (data[column] == non_zero_class) * 1
    return data

In [15]:
straights_train_dataset = binarize(train_dataset, 'hand', 4)

In [16]:
straights_train_dataset.head()

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  hand
0   4   9   2   1   2   2   4   7   2   8     0
1   1   4   3   6   1  12   3  11   2   7     0
2   1  11   4   1   3   7   4  11   2   1     0
3   2   9   2   4   3   6   1   9   4   9     0
4   1   8   2   4   2  11   2   2   2   1     0

#### Augmentation

In [21]:
def shuffle_columns(data, columns):
    shuffled = data[columns].reindex(np.random.permutation(data[columns].columns), axis=1)
    return pd.concat([shuffled, data.drop(columns, axis=1)], axis=1)

def repeat(data, times):
    repeated = data.copy()
    for i in range(times - 1):
        repeated = pd.concat([shuffle_columns(repeated, cards), data], axis=0)
    return repeated

def augment(data):
    data_aug = pd.concat([data[cards], data[suits], data['hand']], axis=1)
    counts = data['hand'].value_counts()
    times = counts[0] // counts[1]
    print(times)
    
    repeated = repeat(data[data['hand'] == 1], times)
    data_aug = pd.concat([data_aug, repeated], axis=0)
    data_aug.index = list(range(data_aug.shape[0]))
    
    return data_aug

In [22]:
straights_train_dataset_aug = augment(straights_train_dataset)

267

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [23]:
straights_train_dataset_aug.shape

(49841, 11)

#### One hot encoding

In [26]:
data = straights_train_dataset_aug.drop('hand', axis=1)
train_labels = straights_train_dataset_aug['hand']

In [27]:
def data_hotencode(data, columns, encoder, mode='transform'):
    encoded = None
    if (mode == 'fit'):
        encoded = encoder.fit_transform(data[columns])
    elif (mode == 'transform'):
        encoded = encoder.transform(data[columns])
    return pd.concat([data.drop(columns, axis=1), pd.DataFrame(encoded.toarray())], axis=1)

In [28]:
encoder = OneHotEncoder()
data_encoded = data_hotencode(data, suits, encoder, 'fit')
print(data_encoded.shape)

data_encoded.head()

(49841, 25)

,C1,C2,C3,C4,C5,0,1,2,3,4,...,10,11,12,13,14,15,16,17,18,19
0,9,1,2,7,8,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,4,6,12,11,7,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,11,1,7,11,1,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,9,4,6,9,9,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,8,4,11,2,1,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

#### Normalization

In [30]:
def normalize(data, columns, mean, std):
    data_normalized = (data[columns] - mean) / std
    to_return = pd.concat([data_normalized, data.drop(columns, axis=1)], axis=1)
    to_return.columns = list(range(to_return.shape[1]))
    return to_return

In [31]:
mean = data_encoded[cards].mean().mean()
std = pd.Series(data_encoded[cards].values.flatten()).std()
data_normalized = normalize(data_encoded, cards, mean, std)
data_normalized.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.478215,-1.775510,-1.493795,-0.085216,0.196500,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,-0.930363,-0.366932,1.323362,1.041647,-0.085216,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1.041647,-1.775510,-0.085216,1.041647,-1.775510,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.478215,-0.930363,-0.366932,0.478215,0.478215,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.196500,-0.930363,1.041647,-1.493795,-1.775510,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [32]:
data_normalized.shape

(49841, 25)

#### Test function

In [33]:
def calc_hand_label(hand):    
    def f(hand):
        suits_hist = reduce(lambda d,x: {**d, **{x: (d.get(x, 0) + 1)}}, hand[:,0], {})
        ranks_hist = reduce(lambda d,x: {**d, **{x: (d.get(x, 0) + 1)}}, hand[:,1], {})
        
        if len(ranks_hist.values()) < 5:
            if len(ranks_hist.values()) == 2:
                if max(list(ranks_hist.values())) == 4:
                    return 7
    #                 print('7: Four of a kind; four equal ranks within five cards')
                else:
                    return 6
    #                 print('6 Full house; pair + different rank three of a kind')
            elif len(ranks_hist.values()) == 3:
                if max(list(ranks_hist.values())) == 3:
                    return 3
    #                 print('3: Three of a kind; three equal ranks within five cards')
                else:
                    return 2
    #                 print('2: Two pairs; two pairs of equal ranks within five cards')
            else:
                return 1
    #             print('1: One pair; one pair of equal ranks within five cards')
        else:
            if len(suits_hist.values()) == 1:
                if max(list(ranks_hist.keys())) -  min(list(ranks_hist.keys())) == 4:
                    if max(list(ranks_hist.keys())) == 13:
                        return 9
    #                     print('9: Royal flush; {Ace, King, Queen, Jack, Ten} + flush')
                    else:
                        return 8
    #                     print('8: Straight flush; straight + flush')
                else:
                    return 5
    #                 print('5: Flush; five cards with the same suit')
            elif max(list(ranks_hist.keys())) -  min(list(ranks_hist.keys())) == 4:
                return 4    
    #             print('4: Straight; five cards, sequentially ranked with no gaps')
            else:
                return 0
                print('0: Nothing in hand; not a recognized poker hand ')
                
    hand = np.array(hand).reshape(5,2)
    res1 = f(hand)
    
    hand[:,1] = list(map(lambda x: 13 if (x == 1) else x-1, hand[:,1]))
    res2 = f(hand)
    
    if res1 == 9 and res2 == 8:
        return res2
    else:
        return max(res1, res2)

#### Encode cards

In [34]:
def card_encode(s, c):
    cards=["A","2","3","4","5","6","7","8","9","10","J","Q","K"]
    suits="♥♦♣♠"
    return cards[c - 1] + suits[s - 1]

def hand_encode(hand):
    return ', '.join(map(lambda x: card_encode(hand[x*2], hand[x*2+1]),range(5)))

print(hand_encode([4,9,2,1,2,2,4,7,2,8]))
print(hand_encode([2,9,2,4,3,6,1,9,4,9]))

9♠, A♦, 2♦, 7♠, 8♦
9♦, 4♦, 6♣, 9♥, 9♠

## Neural Network

In [35]:
from time import time
from keras.callbacks import TensorBoard

model = keras.Sequential()

#input
model.add(keras.layers.Dense(100, activation='relu', input_shape=(25,)))
#model.add(keras.layers.Dropout(0.1))

model.add(keras.layers.Dense(200, activation='relu'))
#model.add(keras.layers.Dropout(0.05))
model.add(keras.layers.Dense(50, activation='relu'))
model.add(keras.layers.Dense(25, activation='relu'))

# Add a softmax layer with 10 output units:
model.add(keras.layers.Dense(1, activation='sigmoid'))

model.compile(optimizer=tf.train.AdamOptimizer(0.0005),
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(np.array(data_normalized), np.array(train_labels), epochs=100, batch_size=512)

WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/keras/_impl/keras/backend.py:1557: calling reduce_mean (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

Using TensorFlow backend.

Epoch 1/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 0.4167 - acc: 0.8487

Epoch 2/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 9us/step - loss: 0.0908 - acc: 0.9759

Epoch 3/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 9us/step - loss: 0.0347 - acc: 0.9908

Epoch 4/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 0.0172 - acc: 0.9960

Epoch 5/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 0.0098 - acc: 0.9976

Epoch 6/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 0.0065 - acc: 0.9985

Epoch 7/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 0.0040 - acc: 0.9991

Epoch 8/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 0.0026 - acc: 0.9995

Epoch 9/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 0.0019 - acc: 0.9996

Epoch 10/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 0.0014 - acc: 0.9998

Epoch 11/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 9.2533e-04 - acc: 0.9999

Epoch 12/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 8.2270e-04 - acc: 0.9999

Epoch 13/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 6.2987e-04 - acc: 0.9999

Epoch 14/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 4.9240e-04 - acc: 0.9999

Epoch 15/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.5831e-04 - acc: 1.0000

Epoch 16/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 1.9909e-04 - acc: 1.0000

Epoch 17/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 1.4530e-04 - acc: 1.0000

Epoch 18/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 1.2567e-04 - acc: 1.0000

Epoch 19/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 9.8656e-05 - acc: 1.0000

Epoch 20/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 8.5106e-05 - acc: 1.0000

Epoch 21/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 8.2750e-05 - acc: 1.0000

Epoch 22/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 7.7847e-05 - acc: 1.0000

Epoch 23/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 6.4943e-05 - acc: 1.0000

Epoch 24/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 5.6412e-05 - acc: 1.0000

Epoch 25/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 4.7573e-05 - acc: 1.0000

Epoch 26/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 4.2837e-05 - acc: 1.0000

Epoch 27/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 4.2328e-05 - acc: 1.0000

Epoch 28/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.4966e-05 - acc: 1.0000

Epoch 29/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 2.9680e-05 - acc: 1.0000

Epoch 30/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 2.7651e-05 - acc: 1.0000

Epoch 31/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 2.5583e-05 - acc: 1.0000

Epoch 32/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 2.5009e-05 - acc: 1.0000

Epoch 33/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 2.0550e-05 - acc: 1.0000

Epoch 34/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 2.0006e-05 - acc: 1.0000

Epoch 35/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 1.8349e-05 - acc: 1.0000

Epoch 36/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 1.7626e-05 - acc: 1.0000

Epoch 37/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 1.5627e-05 - acc: 1.0000

Epoch 38/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 1.4971e-05 - acc: 1.0000

Epoch 39/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 1.3523e-05 - acc: 1.0000

Epoch 40/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.2937e-05 - acc: 1.0000

Epoch 41/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.2041e-05 - acc: 1.0000

Epoch 42/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 1.0894e-05 - acc: 1.0000

Epoch 43/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 1.0105e-05 - acc: 1.0000

Epoch 44/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 9.5270e-06 - acc: 1.0000

Epoch 45/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 9.2586e-06 - acc: 1.0000

Epoch 46/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 8.2661e-06 - acc: 1.0000

Epoch 47/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 8.0811e-06 - acc: 1.0000

Epoch 48/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 6.8968e-06 - acc: 1.0000

Epoch 49/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 7.0426e-06 - acc: 1.0000

Epoch 50/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 6.3971e-06 - acc: 1.0000

Epoch 51/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 5.8836e-06 - acc: 1.0000

Epoch 52/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 5.7614e-06 - acc: 1.0000

Epoch 53/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 5.6234e-06 - acc: 1.0000

Epoch 54/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 4.9492e-06 - acc: 1.0000

Epoch 55/100

49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 4.5341e-06 - acc: 1.0000

Epoch 56/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 4.2912e-06 - acc: 1.0000

Epoch 57/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 3.8072e-06 - acc: 1.0000

Epoch 58/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 13us/step - loss: 3.6277e-06 - acc: 1.0000

Epoch 59/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 3.6624e-06 - acc: 1.0000

Epoch 60/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.2759e-06 - acc: 1.0000

Epoch 61/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.0753e-06 - acc: 1.0000

Epoch 62/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 2.9172e-06 - acc: 1.0000

Epoch 63/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 2.7245e-06 - acc: 1.0000

Epoch 64/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 2.5571e-06 - acc: 1.0000

Epoch 65/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 2.3793e-06 - acc: 1.0000

Epoch 66/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 2.2420e-06 - acc: 1.0000

Epoch 67/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 2.1422e-06 - acc: 1.0000

Epoch 68/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.9971e-06 - acc: 1.0000

Epoch 69/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 2.0074e-06 - acc: 1.0000

Epoch 70/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 1.9629e-06 - acc: 1.0000

Epoch 71/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.7136e-06 - acc: 1.0000

Epoch 72/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.5977e-06 - acc: 1.0000

Epoch 73/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 9us/step - loss: 1.5139e-06 - acc: 1.0000

Epoch 74/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.3796e-06 - acc: 1.0000

Epoch 75/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 1.2996e-06 - acc: 1.0000

Epoch 76/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 1.3572e-06 - acc: 1.0000

Epoch 77/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.1936e-06 - acc: 1.0000

Epoch 78/100
49841/49841 [==============================]49841/49841 [==============================] - 0s 10us/step - loss: 1.1071e-06 - acc: 1.0000

Epoch 79/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 1.0713e-06 - acc: 1.0000

Epoch 80/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 9.7644e-07 - acc: 1.0000

Epoch 81/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 9.3777e-07 - acc: 1.0000

Epoch 82/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 9.0580e-07 - acc: 1.0000

Epoch 83/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 8.7349e-07 - acc: 1.0000

Epoch 84/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 8.0186e-07 - acc: 1.0000

Epoch 85/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 7.7777e-07 - acc: 1.0000

Epoch 86/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 7.2158e-07 - acc: 1.0000

Epoch 87/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 6.5551e-07 - acc: 1.0000

Epoch 88/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 6.7964e-07 - acc: 1.0000

Epoch 89/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 6.1237e-07 - acc: 1.0000

Epoch 90/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 6.0388e-07 - acc: 1.0000

Epoch 91/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 10us/step - loss: 5.2790e-07 - acc: 1.0000

Epoch 92/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 5.1984e-07 - acc: 1.0000

Epoch 93/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 12us/step - loss: 5.0892e-07 - acc: 1.0000

Epoch 94/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 4.7454e-07 - acc: 1.0000

Epoch 95/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 4.4511e-07 - acc: 1.0000

Epoch 96/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 4.2043e-07 - acc: 1.0000

Epoch 97/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.9474e-07 - acc: 1.0000

Epoch 98/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.8273e-07 - acc: 1.0000

Epoch 99/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.6229e-07 - acc: 1.0000

Epoch 100/100
49841/49841 [==============================]49841/49841 [==============================] - 1s 11us/step - loss: 3.3495e-07 - acc: 1.0000

## Test data

In [36]:
test_dataset = pd.read_csv('test.csv', delimiter=',')
test_data = test_dataset.drop('id', axis=1)

In [37]:
test_labels_full = test_data.apply(calc_hand_label, axis=1)

In [38]:
test_labels_4 = (test_labels_full == 4) * 1
test_labels_4.sum()

3885

In [39]:
test_data_encoded = normalize(
    data_hotencode(test_data, suits, encoder),
    cards,
    mean,
    std,
)

## Predictions

In [40]:
pretictions_prob = model.predict(np.array(test_data_encoded))

In [43]:
pretictions = ((pretictions_prob > 0.5) * 1).reshape(pretictions_prob.shape[0])

In [44]:
predictions_data = pd.concat([
    test_dataset,
    pd.DataFrame({'pretictions_prob': pretictions_prob.reshape(pretictions_prob.shape[0])}),
    pd.DataFrame({'predictions': pretictions}),
    pd.DataFrame({'labels': test_labels_4}),
], axis=1)

In [45]:
wrong_answers = predictions_data[predictions_data['predictions'] != predictions_data['labels']]
wrong_answers.shape

(5573, 14)

In [46]:
wrong_answers['labels'].value_counts()

1    3807
0    1766
Name: labels, dtype: int64

In [47]:
wrong_answers

,id,S1,C1,S2,C2,S3,C3,S4,C4,S5,C5,pretictions_prob,predictions,labels
6,7,1,10,3,8,1,4,3,11,3,9,9.970978e-01,1,0
34,35,3,13,3,12,2,10,2,1,1,11,3.610290e-20,0,1
75,76,4,7,2,7,2,6,2,9,1,8,9.963707e-01,1,0
85,86,4,7,2,10,4,9,1,12,1,10,9.691641e-01,1,0
426,427,2,12,1,11,1,7,1,8,4,11,9.750966e-01,1,0
917,918,1,3,4,6,4,7,2,5,2,4,2.925200e-10,0,1
1031,1032,3,1,1,4,1,6,4,2,2,3,8.706117e-01,1,0
1146,1147,4,4,1,3,3,6,1,2,2,5,8.906184e-09,0,1
1183,1184,1,5,1,3,1,2,3,5,3,3,8.590872e-01,1,0
1550,1551,1,8,1,6,2,5,3,9,3,7,7.993282e-08,0,1
1610,1611,1,6,3,2,4,5,2,4,1,3,9.534754e-08,0,1
1764,1765,4,3,3,5,1,4,1,5,4,4,9.795640e-01,1,0
1766,1767,4,11,1,9,2,8,3,7,4,10,8.175685e-10,0,1
1818,1819,3,1,1,11,3,10,4,12,2,13,3.707114e-14,0,1
1912,1913,3,6,2,4,1,3,1,5,2,2,2.154251e-10,0,1
2156,2157,4,11,1,8,1,9,1,10,1,12,4.204023e-13,0,1
2485,2486,1,3,4,4,1,5,2,4,1,7,6.668067e-01,1,0
2566,2567,4,9,2,11,2,6,2,12,3,11,9.624376e-01,1,0
2646,2647,3,9,1,10,4,7,1,7,4,8,5.449833e-01,1,0
2764,2765,3,11,3,7,4,9,2,8,4,10,2.321302e-12,0,1
2920,2921,2,7,4,5,1,4,2,2,1,7,9.996305e-01,1,0
3539,3540,1,8,2,11,3,7,3,9,4,10,1.952617e-15,0,1
3902,3903,4,4,2,3,3,2,3,1,1,5,8.745577e-16,0,1
3957,3958,4,9,1,11,4,10,2,7,2,8,7.161244e-14,0,1
4136,4137,3,4,2,3,4,2,4,6,1,5,7.477476e-09,0,1
4202,4203,4,10,2,11,1,12,3,13,4,1,1.075177e-18,0,1
4229,4230,2,5,4,4,3,2,3,6,2,3,1.497711e-16,0,1
4367,4368,2,11,2,13,4,9,2,10,4,10,9.999553e-01,1,0
4852,4853,2,8,1,7,3,11,2,10,2,9,2.836901e-13,0,1
4943,4944,2,2,4,1,2,5,4,3,4,4,4.391410e-07,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993981,993982,1,3,4,7,3,6,2,5,1,5,6.317541e-01,1,0
994090,994091,1,11,1,9,2,9,1,7,4,10,8.305212e-01,1,0
994581,994582,3,10,3,6,3,9,1,8,4,7,2.208861e-11,0,1
995089,995090,2,12,2,13,4,10,1,11,1,9,5.433406e-05,0,1
995210,995211,1,13,4,10,1,9,3,12,4,11,2.817881e-09,0,1
995293,995294,3,6,2,5,3,4,2,7,3,7,9.988940e-01,1,0
995331,995332,4,7,1,5,4,3,3,6,2,4,1.388446e-16,0,1
995372,995373,1,9,1,8,4,13,4,12,4,10,8.442904e-01,1,0
995384,995385,1,1,4,11,2,10,2,12,4,13,4.675465e-21,0,1
995668,995669,1,6,4,11,4,13,1,10,1,12,9.620908e-01,1,0
995872,995873,1,5,3,6,3,5,4,5,3,7,6.531632e-01,1,0
995934,995935,4,3,4,4,1,8,2,3,1,6,9.625102e-01,1,0
996081,996082,2,7,2,9,3,9,3,8,4,10,8.783292e-01,1,0
996682,996683,1,2,1,6,1,4,2,5,1,3,3.904120e-14,0,1
996875,996876,4,10,3,6,4,8,3,9,3,7,1.210755e-08,0,1
996973,996974,1,2,2,3,2,1,2,6,1,5,8.633930e-01,1,0
997221,997222,2,6,3,9,1,7,1,6,4,6,9.961511e-01,1,0
997558,997559,1,12,1,10,2,9,3,8,1,11,2.532526e-10,0,1
997725,997726,2,10,3,12,3,11,4,8,1,9,5.537007e-08,0,1
998445,998446,4,8,1,10,4,11,3,9,3,12,3.370690e-13,0,1
998446,998447,3,1,3,4,4,5,1,3,1,2,5.311535e-13,0,1
998728,998729,2,9,1,11,1,12,4,8,4,10,1.968674e-03,0,1
999045,999046,2,7,1,8,3,9,1,10,3,6,2.073841e-08,0,1
999095,999096,3,7,3,8,3,6,4,4,2,6,9.999971e-01,1,0
999177,999178,3,10,4,11,4,10,2,13,3,13,7.204605e-01,1,0
999271,999272,2,11,3,11,1,11,3,5,4,9,9.972880e-01,1,0
999436,999437,3,12,1,9,2,10,3,11,4,10,9.953460e-01,1,0
999481,999482,3,6,3,7,1,8,2,5,1,9,3.614291e-10,0,1
999511,999512,1,8,3,5,4,9,3,6,2,7,6.148259e-09,0,1
999974,999975,3,11,3,10,4,12,4,8,4,9,1.638775e-05,0,1